<p>This is the default route for the Example app</p>
<hr>
<p>And here is a random quote pulled through from the <a href="http://iheartquotes.com/api" title="Title">I Heart Quotes API</a>:</p>
<blockquote>
&#8220;<%= @quote %>&#8221;
</blockquote>

