<!doctype html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title><%= @title || 'sinatra-modular' %></title>
	<link rel="stylesheet" href="/stylesheets/screen.css">
</head>
<body>
	<h1>Example layout</h1>
	<%= yield %>
</body>
</html>
